:root {
  --borderLine: 1px solid rgb(217, 217, 217);
  --letterSpacing: 0.1px;
  --transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
ul {
  margin: 0;
  padding: 0;
}

.transition-container {
  transition: var(--transition);
}
.tSpecs-img {
  position: relative;
}
h2 {
  font-size: 18px;
  margin: 0;
}
.container {
  border: var(--borderLine);
  position: relative;
  display: flex;
  align-items: start;
  gap: 10px;
  background-color: white;
  transition: var(--transition);
}
.right-items {
  width: 40%;
  padding: 10px 1em;
}

.card-wrapper {
  box-shadow: 0 0 10px #52525235;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  min-width: 420px;
  border-radius: 10px;
}

.car-header h1 {
  font-size: clamp(25px, 1.5vw, 19px);
  font-weight: bolder;
  line-height: 1em;
  letter-spacing: -1px;
}
.flip-container {
  flex-direction: column-reverse !important;
}

.car-header-wrapper {
  border-bottom: var(--borderLine);
}

.header-car-img {
  min-height: 150px;
  object-fit: cover;
  /*border: 1px solid red;*/
}

.number,
.btn-like {
  color: rgba(46, 46, 46, 0.418);
  font-size: 15px;
  letter-spacing: -0.1em;
}

.btn-like {
  letter-spacing: 0.04px;
  line-height: 10px;
  font-weight: 400;
  color: #181818c2;
}

.card-list {
  list-style: none;
  padding: 5px 0;
  border-bottom: var(--borderLine);
  letter-spacing: -0.5px;
  font-size: 14px;
}

.btn-container {
  gap: 10px;
  padding: 2em 0;
}

.btn-container button {
  min-height: 42px;
  min-width: 153px;
  cursor: pointer;
  border: none;
  padding: 1.5em 15px;
  border-radius: 1.5px;
}

.show-more {
  color: inherit;
  text-transform: capitalize;
  cursor: pointer;
}

.btn2 {
  background-color: #181818f7;
  color: aliceblue;
}

.btn2:hover {
  background-color: #212121f6;
  color: white;
}
.b-expand-headers {
  font-weight: 600;
  padding: 0 1em;
  border-bottom: var(--borderLine);
}

.blue-para {
  background-color: rgba(129, 168, 233, 0.5);
  padding: 1em;
  border-radius: 0.5em;
  line-height: 1.5em;
  letter-spacing: 0.1px;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: white !important;
  z-index: 999;
}

.sticky span {
  font-weight: 200;
}

.small-screen {
  display: none;
}

.b-container {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #52525235;
}

.Title,
.sub-Title {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.sub-Title {
  font-size: 20px;
}

.color-box {
  gap: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.color {
  min-height: 50px;
  border-radius: 5px;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.color-price {
  color: rgb(71, 71, 71);
  padding-right: 10px;
}
.inner-color-box {
  line-height: 1px;
}
.color:hover {
  border: 1px solid silver;
  transform: scale(1.1);
}

.wheel-div-inner {
  padding: 0.8em;
  border-radius: 20px;
  position: relative;
  transition: all 200ms ease-out;
}
.wheel-div-inner:hover {
  transform: scale(1.1);
  border: 1px solid silver;
}

.wheel-discription {
  padding: 0 10px;
  margin-top: 10px;
  line-height: 1em;
}
.wheel-discription p {
  font-size: 14px;
  color: rgb(79, 79, 79);
}
.wheel-div-inner img {
  object-fit: contain;
}

.wheel-price {
  background-color: #000000dd;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: smaller;
  padding: 2px 0.5em;
  left: 10px;
  border: 2px solid black;
  border-radius: 1em;
}
.interior {
  margin-top: 10px;
  position: sticky !important;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.speedometer {
  height: 40px;
  width: 40px;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: 5em;
  left: 20px;
  background-color: rgb(65, 66, 66);
  cursor: pointer;
  transition: var(--transition);
}

.speedometer:hover {
  transform: scale(1.1);
}
.speedometer img {
  width: 30px;
  height: 30px;
}
.white-overlay {
  overflow: hidden;
  box-shadow: 0 0 10px #52525235;
  padding: 10px;
  padding-bottom: 0;
  width: 200px;
  position: absolute;
  bottom: 1em;
  border-radius: 10px;
  left: 20px;
  background-color: rgb(233, 237, 240);
}

.calculate{
  bottom: auto;
  left: auto;
  top: 10px;
  right: 4px;
}

.white-overlay img {
  width: 45px;
  background-color: #000000dd;
  padding: 10px;
  border-radius: 2em;
  transition: var(--transition);
}
.white-overlay img:hover {
  background-color: #1f1f1fdd;
}
.white-overlay li {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  border-bottom: var(--borderLine);
}

.white-overlay p {
  font-size: small;
  color: rgb(43, 43, 43);
}
.titleLogo img,
.titleLogo2 img {
  width: 70px;
  height: 70px;
}

.titleLogo {
  justify-content: center;
  padding: 10px;
}
.TechnicalSpecs {
  padding: 2px 0;
}
.titleLogo2 {
  position: absolute;
  bottom: 1.5em;
  right: 20px;
}

.text-area {
  padding: 10px;
  display: grid;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 1em;
  grid-template-columns: 1fr 1fr;
}

.text-area p {
  border-left: var(--borderLine);
  padding: 15px;
}

.int-list {
  border-bottom: var(--borderLine);
  position: relative;
}
.int-list div {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.int-list span {
  color: rgb(102, 102, 102);
  font-weight: bold;
}
.checkbox--checked,
.checkbox {
  height: 1.8em;
  width: 1.8em;
  overflow: hidden !important;
  cursor: pointer;
  border-radius: 0.3em;
  padding: 0;
  margin-bottom: 3px;
}

.checkbox--checked {
  background-color: #0e0e0f;
  border: 2px solid rgb(211, 217, 218);
}

.checkbox {
  background-color: rgb(232, 236, 239);
  border: 2px solid #7a7a7ad1;
}

.checkbox--checked img {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
}

.check--absolute {
  position: absolute;
  top: 0;
  right: 10px;
}
.smooth {
  transition: all 0.4s cubic-bezier(0.68, 0.55, 0.27, 1.55);
}
@media only screen and (max-width: 1008px) {
  .container {
    padding: 0;
  }

  .text-area {
    display: block;
  }

  .interior-img {
    min-width: 100%;
    border-bottom: var(--borderLine);
  }
  .right-items,
  .card-wrapper {
    width: auto;
    min-width: auto;
    height: auto;
    padding: 0;
    overflow: hidden;
  }

  .card-wrapper ul {
    padding: 15px;
  }
  .car-header {
    text-align: center;
    padding: 10px 0;
  }

  .btn-container {
    justify-content: center;
    min-width: auto;
  }
  .header-car-img {
    padding: 0;
  }
  .small-screen {
    display: block;
  }
  .big-screen {
    display: none;
  }
  .color-box {
    padding: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .sticky {
    border-bottom: var(--borderLine);
  }
  .header-car-img {
    object-fit: contain;
    padding-right: 3px;
  }
}

@media only screen and (min-width: 1100px) {
  .color-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container {
    gap: 0;
  }
}
