@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  transition: all 200ms ease-in-out;
}

body {
  color: #181818;
  background-color: rgb(238 239 242);
  font-family: "Nunito Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
}

.flex,
.fsb,
.fC,
.fE {
  display: flex;
  align-items: center;
}

.fC {
  justify-content: center;
}
.fsb {
  justify-content: space-between;
}

.fE {
  justify-content: flex-end;
}
